a
  text-decoration: none
  color: black
.clearfix
  display: inline-block
  &:after
    clear both
    content '.'
    visibility hidden 
    height 0
    line-height 0
    display: block
.hidden
  display: none
